CDS/CDNSKEY RRSets are being signed with the ZSK

According to the [RFC 7344 Section 4.1](https://datatracker.ietf.org/doc/html/rfc7344#section-4.1), CDS and CDNSKEY RRSets must be signed using a key that's present in both the DNSKEY and DS RRSets. However, `erldns` uses the ZSK, which is not present in the DS RRSet.

`erldns` should negotiate the key to be used depending on the RRSet being signed and use the KSK to sign CDS/CDNSKEY RRSets.

Spike at https://github.com/dnsimple/erldns/pull/235

